<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Poules</title>
    <style>
        body {
            font-family: Verdana,serif;
        }
        .dik {
            border: 2px solid Black;
            width: 100%;
            text-align: center;
            font-weight: bold;
            border-collapse: collapse;
            padding: 0;
        }
        .binnen {
            width: 100%;
            text-align: center;
            border: 1px solid Black;
            border-collapse: collapse;
            padding: 8px;
        }
    </style>
</head>
<body>
    <div th:each="game,iter: ${games}">
        <table style="width: 100%; border-spacing: 10px">
            <tr>
                <td>
                    <table style="width: 100%;">
                        <tr style="width: 100%">
                            <td class="dik" style="width: 30%; text-align: left; font-weight: bold; padding: 8px">BORD</td>
                            <td style="width: 5%"></td>
                            <td class="dik" style="width: 30%; text-align: center; font-weight: bold; padding: 8px" th:text="${game.getDescription()}"></td>
                            <td style="width: 5%"></td>
                            <td class="dik" style="width: 30%; text-align: center; font-weight: bold; padding: 8px" th:text="|BEST OF 5|"></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="dik">
                    <table class="binnen">
                        <tr class="binnen">
                            <td class="binnen" style="width: 20%">#</td>
                            <td class="binnen" style="width: 60%">NAAM</td>
                            <td class="binnen" style="width: 20%">UITSLAG</td>
                        </tr>
                        <tr class="binnen">
                            <td class="binnen" style="width: 20%">1</td>
                            <td class="binnen" style="width: 60%"></td>
                            <td class="binnen" style="width: 20%"></td>
                        </tr>
                        <tr class="binnen">
                            <td class="binnen" style="width: 20%">2</td>
                            <td class="binnen" style="width: 60%"></td>
                            <td class="binnen" style="width: 20%"></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td class="dik">
                    <table class="binnen">
                        <tr>
                            <td style="width: 20%; text-align: center; font-weight: bold; padding: 8px">SCHRIJVER</td>
                            <td style="width: 80%; text-align: left; padding: 8px"></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <hr th:if="${iter.count == 1 || (iter.count % 4 != 0 && iter.count != games.size)}"/>
        <hr style="page-break-after: always" th:if="${(iter.count != 1 && iter.count % 4 == 0) || iter.count == games.size}"/>
    </div>
</body>
</html>